<fury-page-layout mode="card">
    <fury-page-layout-header>
      <fury-breadcrumbs [@fadeInRight] current="Merchants"></fury-breadcrumbs>
    </fury-page-layout-header>
  
    <fury-page-layout-content [@fadeInUp]>
      <fury-list
        name="Merchants"
        [columns]="columns"
        (filterChange)="onFilterChange($event)"
        [fullName]="true"
        [username]="true"
        [showFilter]="true"
        (filterClick)="onFilterClick($event)"
      >
        <div class="actions">
          <a
            class="create"
            routerLink="create"
            type="button"
            mat-mini-fab
            color="primary"
          >
            <mat-icon>add</mat-icon>
        </a>
        </div>
        
  <div class="table-responsive">
    
    <table [dataSource]="dataSource" class="table table-striped table-sm" mat-table matSort>
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Checkbox Column -->
      <ng-container matColumnDef="checkbox">
        <th *matHeaderCellDef class="actions-cell" mat-header-cell>
          <mat-checkbox
            color="primary"
            (click)="$event.stopPropagation()"
          ></mat-checkbox>
        </th>
        <td *matCellDef="let row" class="actions-cell" mat-cell>
          <mat-checkbox
            color="primary"
            (click)="$event.stopPropagation()"
          ></mat-checkbox>
        </td>
      </ng-container>

      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th *matHeaderCellDef class="image-cell" mat-header-cell></th>
        <td *matCellDef="let row" class="image-cell" mat-cell>
          <img src="http://i.pravatar.cc/30?u={{ row.name }}" />
        </td>
      </ng-container>

      <!-- fullName Column -->
      <ng-container *ngFor="let column of columns">
        <ng-container
          *ngIf="column.isModelProperty"
          [matColumnDef]="column.property"
        >
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ column.name }}
          </th>
          <td *matCellDef="let row" mat-cell>
            {{ row[column.property] }}
          </td>
        </ng-container>
      </ng-container>

      <!-- actions Column -->
      <ng-container matColumnDef="actions">
        <th
          *matHeaderCellDef
          class="actions-cell"
          mat-header-cell
          mat-sort-header
        ></th>
        <td *matCellDef="let row" class="actions-cell" mat-cell>
          <button
            type="button"
            mat-icon-button
            [matMenuTriggerFor]="actionsMenu"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu
            #actionsMenu="matMenu"
            yPosition="below"
            xPosition="before"
          >
          <button (click)="updateMerchant(row)" mat-menu-item>
            <span>View</span>
          </button>
            <button (click)="updateMerchant(row)" mat-menu-item>
              <span>Modify</span>
            </button>
            <!-- <button (click)="deleteMerchant(row)" mat-menu-item>
              <span>Delete</span>
            </button> -->
          </mat-menu>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
      <tr
        (click)="updateMerchant(row)"
        *matRowDef="let row; columns: visibleColumns"
        class="clickable route-animations-elements"
        mat-row
      ></tr>
    </table>

    <!-- <mat-paginator class="paginator" [pageSize]="pageSize"></mat-paginator> -->
    <mat-paginator
      #paginator
      class="paginator"
      [length]="dataLength"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20, 50, 100, 500, 100]"
      [showFirstLastButtons]="true"
      (page)="getMerchants($event)"
    >
    </mat-paginator>
  </div>
      </fury-list>
    </fury-page-layout-content>
  </fury-page-layout>
  