<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block" #myDrop="ngbDropdown" (openChange)="toggled($event)">
        <button
          class="btn btn-outline-primary"
          id="dropdownForm1"
          ngbDropdownToggle
        >
          Download
        </button>
        <div
          ngbDropdownMenu
          aria-labelledby="dropdownForm1"
          class="filter-dropdown"
        >
        <button *ngFor="let type of reportTypes" class="dropdown-item" (click)="download(type.key)">{{type.value}}</button>
         
        </div>
      </div>
    </div>
  </div>
  