<fury-page-layout mode="card">
  <fury-page-layout-header>
    <fury-breadcrumbs [@fadeInRight] current="Transactions"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content [@fadeInUp]>
    <fury-list
      name="Transactions"
      [columns]="columns"
      (filterChange)="onFilterChange($event)"
      [gatewayTransactionReference]="true"
      [transactionStatus]="true"
      [amount]="true"
      [merchantTransactionReference]="true"
      [showFilter]="true"
      [startDate]="true"
      [endDate]="true"
      [showDownloadFilter]="true"
      (filterClick)="onFilterClick($event)"
      [startDate]="true"
      [endDate]="true"
      (downloadClick)="onDownloadClick($event)"
    >
      <!--<div class="actions">
        <button
          class="create"
          (click)="createCustomer()"
          type="button"
          mat-mini-fab
          color="primary"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>-->

      <table [dataSource]="dataSource" mat-table matSort>
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef class="actions-cell" mat-header-cell>
            <mat-checkbox
              color="primary"
              (click)="$event.stopPropagation()"
            ></mat-checkbox>
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <mat-checkbox
              color="primary"
              (click)="$event.stopPropagation()"
            ></mat-checkbox>
          </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th *matHeaderCellDef class="image-cell" mat-header-cell></th>
          <td *matCellDef="let row" class="image-cell" mat-cell>
            <img src="http://i.pravatar.cc/30?u={{ row.name }}" />
          </td>
        </ng-container>

        <ng-container matColumnDef="merchant">
          <th *matHeaderCellDef class="image-cell" mat-header-cell>
            Merchant Name
          </th>
          <td *matCellDef="let row" class="image-cell" mat-cell>
            {{ row.merchant?.name }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="amount">
          <th *matHeaderCellDef class="image-cell" mat-header-cell>
           Amount
          </th>
          <td *matCellDef="let row" class="image-cell" mat-cell>
           cddd
          </td>
        </ng-container> -->

        <ng-container matColumnDef="maskedPan">
          <th *matHeaderCellDef class="image-cell" mat-header-cell>
            Masked PAN
          </th>
          <td *matCellDef="let row" class="image-cell" mat-cell>
            {{ row?.maskedPan }}
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="merchantRequestReference">
          <th *matHeaderCellDef class="image-cell" mat-header-cell>
            Merchant Request Reference
          </th>
          <td *matCellDef="let row" class="image-cell" mat-cell>
            {{ row.merchantRequestReference }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="merchantTransactionReference">
          <th *matHeaderCellDef class="image-cell" mat-header-cell>
            Merchant Transaction Reference
          </th>
          <td *matCellDef="let row" class="image-cell" mat-cell>
            {{ row.merchantTransactionReference }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="transactionReference">
          <th *matHeaderCellDef class="image-cell" mat-header-cell>
            Transaction Reference
          </th>
          <td *matCellDef="let row" class="image-cell" mat-cell>
            {{ row.transactionReference }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="transactionDate">
          <th *matHeaderCellDef class="image-cell" mat-header-cell>
            Transaction Date
          </th>
          <td *matCellDef="let row" class="image-cell" mat-cell>
            {{ row.transactionDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th *matHeaderCellDef class="image-cell" mat-header-cell>Amount</th>
          <td *matCellDef="let row" class="image-cell" mat-cell>
            {{ row.amount }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="gatewayTransactionReference">
          <th *matHeaderCellDef class="image-cell" mat-header-cell>
            Gateway Transaction Reference
          </th>
          <td *matCellDef="let row" class="image-cell" mat-cell>
            {{ row.gatewayTransactionReference }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="gatewayResponseMessage">
          <th *matHeaderCellDef class="image-cell" mat-header-cell>
            Gateway Response Message
          </th>
          <td *matCellDef="let row" class="image-cell" mat-cell>
            {{ row.gatewayResponseMessage }}
          </td>
        </ng-container>

        <ng-container matColumnDef="transactionStatus">
          <th *matHeaderCellDef class="image-cell" mat-header-cell>
            Transaction Status
          </th>
          <td *matCellDef="let row" class="image-cell" mat-cell>
            {{ row.transactionStatus }}
          </td>
        </ng-container>

        <ng-container matColumnDef="settlementStatus">
          <th *matHeaderCellDef class="image-cell" mat-header-cell>
            Settlement Status
          </th>
          <td *matCellDef="let row" class="image-cell" mat-cell>
            {{ row.settlementStatus }}
          </td>
        </ng-container>

        <ng-container matColumnDef="settlementDate">
          <th *matHeaderCellDef class="image-cell" mat-header-cell>
            Settlement Date
          </th>
          <td *matCellDef="let row" class="image-cell" mat-cell>
            {{ row.settlementDate }}
          </td>
        </ng-container>

        <!-- fullName Column -->
        <!-- <ng-container *ngFor="let column of columns">
          <ng-container
            *ngIf="column.isModelProperty"
            [matColumnDef]="column.property"
          >
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ column.name }}
            </th>
            <td *matCellDef="let row" mat-cell>
              {{ row[column.property] }}
            </td>
          </ng-container>
        </ng-container> -->

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <th
            *matHeaderCellDef
            class="actions-cell"
            mat-header-cell
            mat-sort-header
          ></th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <button
              type="button"
              mat-icon-button
              [matMenuTriggerFor]="actionsMenu"
              (click)="$event.stopPropagation()"
            >
              <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu
              #actionsMenu="matMenu"
              yPosition="below"
              xPosition="before"
            >
            <button (click)="viewTransaction(row)" mat-menu-item>
              <span>View</span>
            </button>

            
            </mat-menu>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr
          (click)="updateCustomer(row)"
          *matRowDef="let row; columns: visibleColumns"
          class="clickable route-animations-elements"
          mat-row
        ></tr>
      </table>

      <!-- <mat-paginator class="paginator" [pageSize]="pageSize"></mat-paginator> -->

      <mat-paginator
        #paginator
        class="paginator"
        [length]="dataLenght"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20, 50, 100, 500, 100]"
        [showFirstLastButtons]="true"
        (page)="getTransactions($event)"
      >
      </mat-paginator>
    </fury-list>
  </fury-page-layout-content>
</fury-page-layout>
