/* You can add global styles to this file, and also import other style files */

.logo-img {
  width: 200px;
  height: 200px;
}

.login-header {
  padding: 0 !important;
}

@import "./@fury/styles/core";
@import "./app/app.theme";
@import "~ngx-toastr/toastr";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

// @import "../node_modules/bootstrap/scss/bootstrap";

.dialog-sm {
  max-width: 300px;
}
.dialog-lg {
  max-width: 900px;
  min-width: 700px;
  overflow-y: scroll !important;
  // margin-top: -20%;

  
}
.dialog-c{
}

@media (min-width: 768px) {
  .dialog-dialog {
    margin: 30px auto;
  }
}
@media (min-width: 320px) {
  .dialog-sm {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 620px) {
  .dialog-dialog {
    margin-right: auto;
    margin-left: auto;
  }
  .dialog-lg {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (min-width: 920px) {
  .dialog-lg {
    margin-right: auto;
    margin-left: auto;
  }
}

button:disabled{
  cursor:not-allowed;
}


.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 1em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 5px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 2em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 2.5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 2em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 2.5em;
  }
}
